{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container-login mt-5"> 
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;"> 
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="card custom-form mx-auto">
                    <div class="card-body">
                        <div class="wrapper text-center">
                            <div class="logo">
                                <img src="https://cdn1.iconfinder.com/data/icons/logos-and-brands-3/512/84_Dev_logo_logos-512.png" alt="" class="custom-logo img-fluid">
                            </div>
                            <div class="text-center mt-4 name">
                                <h1>Progressive Code</h1>
                            </div>
                            
                            <form class="p-4 mt-4" method="post">
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="userName"><span class="far fa-user"></span> Nom d'utilisateur</label>
                                    <input type="text" value="{{ last_username }}" name="email" id="userName" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="pwd"><span class="fas fa-key"></span> Mot de passe</label>
                                    <input type="password" name="password" id="pwd" class="form-control" placeholder="Mot de passe" required>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button class="btn-connecter mt-4">Se connecter</button>
                            </form>
                            <div class="text-center fs-6 mt-2">
                                <a href="{{ path('app_register') }}">S'inscrire</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
