{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">HTML</h1>
        
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Explorez le Monde Fascinant de HTML</h4>
            <p>
                HTML, ou HyperText Markup Language, est un langage fondamental dans le développement web moderne. Il joue un rôle crucial dans la structure fondamentale des sites web, permettant aux développeurs de définir les éléments et leurs relations sur une page web.
            </p>
            <p>
                Lorsque vous naviguez sur Internet, vous remarquez sûrement que les sites ont des structures, des mises en page et du contenu différents. HTML est responsable d'organiser ce contenu et de fournir la structure de base des pages web.
            </p>
            <h5 class="fw-bold">Que Peut Faire HTML ?</h5>
            <p>
                HTML vous permet de créer la structure d'une page web en définissant divers éléments tels que des en-têtes, des paragraphes, des liens, des images, des formulaires, et plus encore. Il sert de base au contenu web, permettant aux navigateurs d'afficher l'information de manière lisible.
            </p>
            <h5 class="fw-bold">Ressources pour Apprendre HTML :</h5>
            <ul>
                <li>
                    <a class="text-decoration-none" href="https://www.w3schools.com/html/" target="_blank">W3Schools HTML Tutorial</a> - Un guide interactif avec des exemples pratiques pour apprendre les bases de HTML.
                </li>
                <li>
                    <a class="text-decoration-none" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">MDN Web Docs - Apprendre HTML</a> - Une ressource complète du Mozilla Developer Network pour explorer HTML en profondeur.
                </li>
                <li>
                    <a class="text-decoration-none" href="https://www.htmlgoodies.com/" target="_blank">HTML Goodies</a> - Un site avec des tutoriels et des ressources pour maîtriser HTML.
                </li>
            </ul>
            <p>
                En explorant le monde de HTML, vous acquérez la capacité de structurer le contenu sur le web et de créer des expériences utilisateur attrayantes et accessibles.
            </p>           
        </div>
    </div>
{% endblock %}
