
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}


/* styles.css */

body {
  background-color: #CF9F22;
}

.menu-burger {
  background-color: #808080;
  color: white;
  border: none;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken(#007bff, 10%);
    }
  
    &:focus {
      outline: none;
    }
  }
  


  .form-control {
    resize: none;
}



