
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}


/* styles.css */

body {
  background-color: #CF9F22;
}

.menu-burger {
  background-color: #808080;
  color: white;
  border: none;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken(#007bff, 10%);
    }
  
    &:focus {
      outline: none;
    }
  }
  

  .form-control {
    resize: none;
}



.btn btn-primary{
  font-size: 16px;
  padding: 10px 20px;
}

// Personnaliser les couleurs des boutons
.btn-primary,
.btn-warning,
.btn-info {
  background-color: #17a2b8; 
  border-color: #17a2b8; 
  color: #fff; 
}


/* Retire le trait sous le liens Progressive Coode page D'accueil */
.titre a {
  text-decoration: none;
  color: inherit;
}



