{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


<div class="example-wrapper">


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/leokuenemann/Desktop/dev_web_leo/monblog/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/leokuenemann/Desktop/dev_web_leo/monblog/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
