<div class="p-4 mb-3">
<footer>
    <h4 class="fst-italic">Categories</h4>
    <ol class="list-unstyled mb-0">
        <li class="mb-3">
            <a class="text-decoration" href="/category/css">Tutoriel CSS</a>
        </li>
        <li class="mb-3">
            <a class="text-decoration" href="/category/html">Tutoriel HTML</a>
        </li>
        <li class="mb-3">
            <a class="text-decoration" href="/category/symfony">Tutoriel Symfony</a>
        </li>
    </ol>
    </footer>
</div>
